@media screen and (max-width: 1756px) {
    .description-container {
        margin-right: 15px;
        flex-basis: 46%;
    }

    .extend-waranty {
        width: 100%;
    }

    .add-bucket,
    .add-credit {
        flex-basis: 48%;
    }

    /* .preview-container {
        flex-basis: 15%;
    } */
}

@media screen and (max-width: 1630px) {
    .preview-container {
        display: none;
    }

    .description-container,
    .main-img-wrap {
        flex-basis: 48%;
        width: 50%;
    }

    .add-credit {
        padding: 0;
    }
}

@media screen and (max-width: 1260px) {
    .features-container,
    .contacts-wrapper {
        display: none;
    }
}
