.chose-color {
    position: relative;
    margin-top: 45px;
    margin-bottom: 44px;
    margin-right: 13px;
    width: 300px;
    height: 46px;
    align-items: center;
}

.chose-color h4 {
    margin-right: 14px;
}

.union.black {
    left: 109px;
}

.union.gray {
    left: 170px;
}

.union.blue {
    left: 227px;
}

.union {
    position: absolute;
    top: -33px;
    color: #FDFDFD;
}

.union img {
    position: relative;
}

.union p {
    position: absolute;
    top: 2px;
    left: 10px;
}

.color-img-wrapper {
    position: relative;
    cursor: pointer;
    display: flex;
    height: 100%;
    width: 46px;
    margin-right: 14px;
    justify-content: center;
    align-items: center;
}

.color-img-wrapper:hover {
    border: 1px solid #5d656f;
}

.color-img-wrapper img {
    height: 23.35px;
    width: 36px;
    background: #c4c4c4;
    padding: 6px 0;
}
