@media screen and (max-width: 1756px) {
    .container {
        margin: 0 20px;
    }

    .description-container {
        flex-basis: 46%;
    }

    .extend-waranty {
        width: 100%;
    }

    .add-bucket,
    .add-credit {
        flex-basis: 48%;
    }

    .preview-container {
        min-width: 149px;
    }
}

@media screen and (max-width: 1630px) {
    .description-container,
    .main-img-wrap {
        flex-basis: 48%;
        width: 50%;
    }

    .main-img-wrap {
        flex-direction: column;
        height: 596.5px;
    }

    .preview-container {
        flex-direction: row;
        width: 100%;
        height: 200px;
        margin: 0;
    }

    .preview-img-wrapper {
        padding: 0;
        margin-right: 21px;
    }

    .preview-img-wrapper img {
        width: 136px;
    }

    .add-credit {
        padding: 0;
    }
}

@media screen and (max-width: 1260px) {
    .telephone-container {
        display: none;
    }

    .features-container {
        height: 0px;
    }

    .contacts-wrapper {
        flex-basis: 16%;
        width: auto;
    }

    .features-container {
        width: 100%;
        background: #29323d;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        /* animation-name: drop;
        animation-duration: 1.2s;
        animation-fill-mode: forwards; */
        transition: height 1.2s ease-in-out;
    }

    .feature-wrap {
        height: 0px;
        visibility: hidden;
    }

    .feature-wrap {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid white;
        flex-grow: 1;
        transition: height 1.2s ease-in-out, visibility 1.2s linear;
    }

    .features-container .normal {
        width: 100%;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        border-bottom: 1px solid white;
    }

    .features-container.active {
        /* visibility: visible; */
        height: 99vh;
        opacity: 1;
    }

    .feature-wrap.active {
        visibility: visible;
    }
}

@media screen and (max-width: 1026px) {
    header img {
        width: 200px;
        height: 50px;
    }

    .search-container {
        width: auto;
    }

    .user,
    .cart,
    .search-icon-wrapper {
        margin-right: 10px;
    }

    .product-about {
        justify-content: space-around;
        margin: 0 174px;
    }

    .product-about p {
        margin: 0;
    }

    .search-icon-wrapper {
        border-bottom: none;
        margin-right: 15px;
    }

    .search-container input {
        display: none;
    }

    .contacts-wrapper {
        flex-basis: 27%;
    }

    .search-icon-wrapper.clicked {
        flex-basis: auto;
        margin: 0;
        border-bottom: 1px solid #5d656f;
    }

    .search-container {
        width: 100%;
    }
}

@media screen and (max-width: 965px) {
    .container {
        flex-direction: column;
    }

    .main-img-wrap {
        width: 100%;
        height: 300px;
        flex-basis: auto;
    }

    .main-img {
        width: 100%;
    }

    .product-about {
        margin: 0;
    }

    .model-long {
        margin-bottom: 18px;
    }

    .description-container {
        width: 100%;
        padding: 0 30px;
        margin: 10px 0;
    }

    .preview-container {
        height: 100px;
    }

    .preview-img-wrapper {
        margin: 8px;
        padding: 0;
        width: 95px;
    }

    .preview-img-wrapper img {
        width: 94px;
    }

    .add-credit {
        font-size: 12px;
    }
}

@media screen and (max-width: 514px) {
    body {
        font-size-adjust: 0.36;
    }

    header {
        height: 73.9px;
    }

    .contacts-wrapper {
        height: 50px;
    }

    .search-icon-wrapper img {
        height: 20px;
        width: 20px;
    }

    .user,
    .cart {
        width: 30px;
        height: 30px;
    }

    .user img,
    .cart img {
        width: 15px;
        height: 15px;
    }

    .sony-center {
        width: 150px;
        height: 25px;
    }

    .buy {
        height: 104.2px;
        flex-direction: column;
    }

    .add-bucket {
        margin-bottom: 10px;
    }

    .add-credit,
    .add-bucket {
        width: 100% !important;
        height: 50px !important;
    }

    .container {
        margin: 0;
    }

    .extend-waranty {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 350px) {
    body {
        font-size-adjust: 0.28;
    }

    .sony-center {
        width: 107px;
        height: 17.8px;
    }

    .delivery-waranty,
    .other {
        width: 100%;
    }

    .delivery-waranty div,
    .other div {
        margin-right: 0;
    }

    .preview-img-wrapper {
        margin: 4px;
        width: 65px;
    }

    .chose-color {
        margin-right: 0;
        width: 100%;
    }
}
