@media screen and (max-width: 1756px) {
    .container {
        margin: 0 20px;
    }

    .description-container {
        flex-basis: 46%;
    }

    .extend-waranty {
        width: 100%;
    }

    .add-bucket,
    .add-credit {
        flex-basis: 48%;
    }
}

@media screen and (max-width: 1630px) {
    /* .preview-container {
        display: none;
    } */

    .description-container,
    .main-img-wrap {
        flex-basis: 48%;
        width: 50%;
    }

    .main-img-wrap {
        flex-direction: column;
        height: 596.5px;
    }

    .preview-container {
        flex-direction: row;
        width: 100%;
        height: 200px;
        margin: 0;
    }

    .preview-img-wrapper {
        border-right: 1px solid white;
    }

    .preview-img-wrapper img {
        width: 150px;
    }

    .add-credit {
        padding: 0;
    }
}

@media screen and (max-width: 1260px) {
    .telephone-container {
        display: none;
    }

    .features-container {
        height: 0px;
    }

    .contacts-wrapper {
        flex-basis: 16%;
        width: auto;
    }

    .features-container {
        width: 100%;
        background: #29323d;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        /* animation-name: drop;
        animation-duration: 1.2s;
        animation-fill-mode: forwards; */
        transition: height 1.2s ease-in-out;
    }

    .feature-wrap {
        height: 0px;
        visibility: hidden;
    }

    .feature-wrap {
        width: 100%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid white;
        flex-grow: 1;
        padding-left: 50px;
        transition: height 1.2s ease-in-out, visibility 1.2s linear;
    }

    .features-container .normal {
        width: 100%;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding-left: 50px;
        border-bottom: 1px solid white;
    }

    .features-container.active {
        /* visibility: visible; */
        height: 99vh;
        opacity: 1;
    }

    .feature-wrap.active {
        visibility: visible;
    }
}

@media screen and (max-width: 1026px) {
    header img {
        width: 200px;
        height: 50px;
    }

    .search-container {
        width: auto;
    }

    .user,
    .cart,
    .search-icon-wrapper {
        margin-right: 10px;
    }

    .search-icon-wrapper {
        border-bottom: none;
        margin-right: 15px;
    }

    .search-container input {
        display: none;
    }

    .contacts-wrapper {
        flex-basis: 27%;
    }
}

@media screen and (max-width: 640px){
    .container {
        flex-direction: column;
    }

    .main-img-wrap {
        width: 100%;
        height: 300px;
        flex-basis: auto;
    }

    .main-img {
        width: 100%;
    }

    .description-container {
        width: 100%;
        padding: 0 30px;
        margin: 10px 0;
    }
}
